<h1>Registrarse</h1>
<form action="/session/register" method="post">
  <input type="text" name="first_name" placeholder="Nombre" />
  <input type="text" name="last_name" placeholder="Apellido" />
  <input type="text" name="email" placeholder="Email" />
  <input type="number" name="age" placeholder="Edad" />
  <input type="text" name="password" placeholder="Password" />
  <input type="text" name="role" placeholder="admin"/>
  <button type="submit">Registrarse</button>
</form>
<a href="/login">Volver</a>